 @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
:root {
    --main: #1e8a6d;
    --light: #ffffff;
    --dark: #222;
    --bg: #f8fbf8;
    --card: #ffffffc9;
    --shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    color: var(--dark);
    background: var(--bg);
    transition: all 0.3s ease;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    padding: 15px 10%;
    z-index: 100;
}

nav .logo {
    color: var(--main);
    margin: 0;
}

nav ul {
    display: flex;
    gap: 25px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
}

nav a:hover {
    color: var(--main);
}
header {
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
        url('https://th.bing.com/th/id/R.a64e02fb3af96d623dc62f55c384c604?rik=lgB2pXI8T%2fSYDQ&pid=ImgRaw&r=0') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    box-shadow: var(--shadow);
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

section {
    padding: 100px 10% 60px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s ease;
}

h2 {
    border-right: 6px solid var(--main);
    padding-right: 14px;
    font-size: 2rem;
    margin-bottom: 30px;
}

.project-card,
.skill-list li,
.contact-box {
    background: var(--card);
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    transition: 0.3s;
}

.project-card:hover,
.skill-list li:hover,
.contact-box:hover {
    transform: translateY(-5px);
}

.dark {
    --bg: #0f1816;
    --dark: #eaeaea;
    --card: #101c19da;
    --shadow: 0 4px 20px rgba(0,0,0,0.7);
}

footer {
    text-align: center;
    padding: 20px;
    background: var(--main);
    color: white;
    margin-top: 40px;
}
#btn{
    border:rgb(30, 204, 82) solid;
    color: white;
    text-decoration: none;
    background-color:rgb(30, 204, 82);
    border-radius: 1ch;
}
